body {
  background-color: gray;
}

div {
  /* width: 50%; */
  /* height: 50%; */
  /* float: left; */

  padding: 10px;

  /*
  padding-top: 4.5%;
  padding-bottom: 2.5%;
  padding-left: 2%;
  
  */
  height: 40px;
  /* width: 10px; */
}

/*
#div1 {
  background: #777;
}
*/

/*MAKE SEARCH RED*/

/*
input,
select,
textarea {
  color: red;
}

input::placeholder {
  color: red;
  opacity: 1;
}
*/

button {
  width: auto;
  height: auto;
}

#div2 {
  width: 100%;
  background: #555;
  justify-content: space-between;
}

/* CONTENT DIV */
#div3 {
  height: auto;
  width: 100%;
  background: #9666;
  resize: 100%;
}

/*
#div4 {
  width: 50%;
  background: #555;
}
*/
